# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

#Goby specific stuff
.idea/
/old_stuff/
/virtual_env/
/writeup/
/circuits/
/ai/images/archive/
/ai/images/prediction_set/
/ai/images/training_set/
/ai/pi5/utils/checker/images/prediction_set/bad/1737251761.514968.png
/ai/pi5/utils/checker/images/prediction_set/bad/1737251767.8350995.png
/ai/pi5/utils/checker/images/prediction_set/bad/1737251778.6304936.png
/ai/pi5/utils/checker/images/prediction_set/bad/1737251782.7158563.png
/ai/pi5/utils/checker/images/prediction_set/bad/1737251791.871544.png
/ai/pi5/utils/checker/images/prediction_set/bad/good1.png
/ai/pi5/utils/checker/images/prediction_set/bad/good2.png
/ai/pi5/utils/checker/images/prediction_set/bad/good3.png
/ai/pi5/utils/checker/images/prediction_set/bad/good4.png
/ai/pi5/utils/checker/images/prediction_set/bad/good5.png
/ai/pi5/utils/checker/images/prediction_set/bad/left1.png
/ai/pi5/utils/checker/classification_checker_lite.py
/ai/pi5/utils/checker/predictions.csv
/ai/pi5/lane_classification_model.tflite
/ai/tensorflow/predictions/_1721017788.546738_right.png
/ai/tensorflow/predictions/_1721017790.7344465_right.png
/ai/tensorflow/predictions/_1721017792.8890512_right.png
/ai/tensorflow/predictions/_1721017795.080388_wall.png
/ai/tensorflow/predictions/_1721017798.251136_wall.png
/ai/tensorflow/predictions/fake.jpg
/ai/tensorflow/predictions/good0_5_LightCyan_RoyalBlue_35.jpg
/ai/tensorflow/predictions/good282_282_LightCyan_RoyalBlue_35.jpg
/ai/tensorflow/predictions/left240_290_LightCyan_RoyalBlue_35.jpg
/ai/tensorflow/predictions/left410_460_LightCyan_DarkBlue_25.jpg
/ai/tensorflow/predictions/right30_-20_LightCyan_DarkBlue_25.jpg
/ai/tensorflow/predictions/right240_180_LightCyan_DarkBlue_25.jpg
/ai/tensorflow/predictions/rightBlended.jpg
/ai/tensorflow/predictions/wall144_6_213_LightCyan_RoyalBlue_35.jpg
/ai/tensorflow/predictions/wall174_6_339_LightCyan_DarkBlue_25.jpg
/ai/tensorflow/lane_classification_model.keras
/ai/tensorflow/lane_classification_model.tflite
/ai/tensorflow/predictions.csv
/ai/tensorflow/results.txt
/ai/utilities/imageGenerator/predictions/good282_282_LightCyan_RoyalBlue_35.jpg
/ai/utilities/imageGenerator/predictions/left410_460_LightCyan_DarkBlue_25.jpg
/ai/utilities/imageGenerator/predictions/right30_-20_LightCyan_DarkBlue_25.jpg
/ai/utilities/imageGenerator/predictions/rightBlended.jpg
/ai/utilities/imageGenerator/predictions/wall144_6_213_LightCyan_RoyalBlue_35.jpg
